import cv2
from random import randrange
#load cascade dataset
face_cascade = cv2.CascadeClassifier('haarcascade_frontalface_default.xml')

#Load image and convert into greyscale
#image = cv2.imread('Ammad Yousaf.jpeg')
webcam = cv2.VideoCapture(0)

while True:
 successful_frame_read, frame = webcam.read()

#convert to grayscale
 gray_image = cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)

#run the face detection classifier
 faces = face_cascade.detectMultiScale(gray_image)

#Draw a rectangle around the detected faces
 for (x,y,w,h) in faces:
    cv2.rectangle(frame, (x, y), (x+w, y+h), (randrange(250), randrange(257), randrange(250)), 2)

#display the image

 cv2.imshow('Image', frame)
 key = cv2.waitKey(1)

#stop if Q key is pressed
 if key == 81 or key == 113:
  break
